@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap');

// Preview Heading font
@mixin font-heading {
	font-weight: 900;
	font-size: 4rem;
	line-height: 4.5rem;

	@media screen and (max-width: $tablet-max) {
		font-size: 48px;
		line-height: 56px;
	}

	@media screen and (max-width: $mobile-max) {
		font-size: 36px;
		line-height: 42px;
	}
}

// Title Font
@mixin font-title {
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 1.75rem;

	@media screen and (max-width: $tablet-max) {
		font-size: 1.1rem;
		line-height: 1.3rem;
	}
}

// Text Font
@mixin font-text {
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.3rem;

	@media screen and (max-width: $tablet-max) {
		font-size: 0.9rem;
		line-height: 1rem;
	}
}

// Download title font
@mixin font-download-title {
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.2rem;

	@media screen and (max-width: $tablet-max) {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
	@media screen and (max-width: $mobile-max) {
		font-size: 1.1rem;
		line-height: 1.3rem;
	}
}

// Download text font
@mixin font-download-text {
	font-weight: 700;
	font-size: 1.1rem;
	line-height: 1.3rem;

	@media screen and (max-width: $tablet-max) {
		font-size: 0.9rem;
		line-height: 1rem;
	}
	@media screen and (max-width: $mobile-max) {
		font-size: 0.8rem;
		line-height: 1rem;
	}
}

// Quote font
@mixin font-quote {
	font-family: 'Cardo';
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 3rem;

	@media screen and (max-width: $tablet-max) {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

// Quote text font
@mixin font-quote-text {
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 1rem;
}
