@import 'normalize';
@import 'variables';
@import 'cdn';
@import 'mixins';

@import 'components/ui/button.scss';

@import 'components/header.scss';
@import 'components/preview.scss';
@import 'components/features.scss';
@import 'components/works.scss';
@import 'components/team.scss';

html {
	font-family: 'Raleway';
	scroll-behavior: smooth;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.features-section,
.works-section,
.team-section {
	padding: 3.5rem 0;
}

.features-section {
	padding-top: 7rem;
}

@media screen and (max-width: $tablet-max) {
	.wrapper {
		width: 984px;
	}

	.features-section,
	.works-section,
	.team-section {
		padding: 2.5rem 0;
	}

	.features-section {
		padding-top: 5rem;
	}
}

@media screen and (max-width: $mobile-max) {
	.wrapper {
		width: 280px;
	}

	.features-section,
	.works-section,
	.team-section {
		padding: 1.2rem 0;
	}

	.features-section {
		padding-top: 2.4rem;
	}
}
