@import 'ui/burger/burger.scss';
@import 'ui/navigation.scss';

.header {
	height: 4rem;
	width: 100%;
	padding-top: 2.2rem;

	background: transparent;
	position: absolute;
	top: 0;
	z-index: 10;
}

.header__wrapper {
	height: inherit;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 1px solid $nav-gray;

	@media screen and (max-width: $mobile-max) {
		border: none;

		& > .navigation {
			display: none;
		}
	}
}
.header__logo {
	width: 11rem;
	position: relative;
	z-index: 10;

	@media screen and (max-width: $mobile-max) {
		width: 6rem;
	}
}
