.testimonials-section__wrapper {
	@import 'ui/slider.scss';
	position: relative;

	.testimonials__card {
		background: $slider-bg;
		display: flex;
		cursor: pointer;

		.image {
			width: 50%;
		}

		.content {
			@include fl-col-gap(1.5rem);
			justify-content: center;
			padding: 7rem;
			@media screen and (max-width: $tablet-max) {
				padding: 3rem 5.5rem;
			}

			.title {
				@include font-quote;
				color: $white;
			}
			.text {
				@include font-quote-text;
				color: $white;
			}
		}
	}
}

@media screen and (max-width: $mobile-max) {
	.testimonials-section__wrapper {
		.testimonials__card {
			@include fl-col-gap;

			.image {
				width: 100%;
			}

			.content {
				justify-content: flex-start;
				padding: 2rem 1.5rem;
				min-height: 18rem;
			}
		}
	}
}
