/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Basics styles ~ ~ ~ ~ ~ ~ ~ ~ ~ */
* {
	box-sizing: border-box;
	margin: 0;

	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	position: relative;
}
.wrapper {
	width: 100vw;
	max-width: 1170px;
	margin: 0 auto;
}
.main {
	/* border: 1px solid black; */

	display: flex;
	flex-direction: column;
	/* gap: 50px; */
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.wrapper {
		width: 992px;
	}
}
@media screen and (max-width: 1023px) {
	* {
		font-size: 14px;
		line-height: 16px;
	}
	.wrapper {
		width: 280px;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Main Page Margins ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.social-section {
	margin-bottom: 100px;
}
.tabs-section {
	margin-bottom: 50px;
}
.about-section {
	margin-bottom: 60px;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.social-section {
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 1023px) {
	.social-section {
		margin-bottom: 40px;
	}
	.tabs-section {
		margin-bottom: 30px;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ UI elements ~ ~ ~ ~ ~ ~ ~ ~ ~ */
input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #bdbdbd;
	height: 40px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #bdbdbd;
}
input::placeholder {
	color: #bdbdbd;
}
input:focus-visible {
	outline: none;
}

.button {
	border: none;
	cursor: pointer;
	background: transparent;
}
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Button 1 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.button-1 {
	width: 270px;
	height: 58px;

	border: 2px solid #ffffff;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
}
.button-1:hover {
	border-color: #ec7979;
	color: #ec7979;
}
.button-1:active {
	background: #ab4949;
	border: none;
	color: white;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.button-1 {
		width: 180px;
	}
}
@media screen and (max-width: 1023px) {
	.button-1 {
		width: 100%;
	}
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Button 2 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.button-2 {
	width: 100%;
	height: 60px;

	background: #ec7979;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #ffffff;
}
.button-2:hover {
	background: #ab4949;
}
.button-2:active {
	background: #ec7979;
	box-shadow: inset 0px 0px 10px #ab4949;
}
@media screen and (max-width: 1023px) {
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Button 3 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.button-3 {
	width: 270px;
	height: 58px;

	background: #ec7979;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
}
.button-3:hover {
	background: #ab4949;
}
.button-3:active {
	background: #ec7979;
	box-shadow: inset 0px 0px 10px #ab4949;
}
@media screen and (max-width: 1023px) {
	.button-3 {
		width: 230px;
	}
}

.text-accent {
	color: #ec7979;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Heading in Main Page ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.heading {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: stretch;
}
.heading__title {
	padding: 54px 0;
	position: relative;

	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-align: center;
}
.heading__title::after {
	content: '';

	display: inline-block;
	position: absolute;
	width: 170px;
	border-bottom: 1px solid #ec7979;

	top: calc(100% - 1px);
	left: calc(50% - 85px);
}
.heading__text {
	text-align: center;
	color: #86878b;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.heading {
		gap: 32px;
	}
	.heading__title {
		padding: 45px 0;

		font-size: 24px;
		line-height: 28px;
	}
	.heading__title::after {
		width: 142px;
		left: calc(50% - 71px);
	}
	.heading__text {
		font-size: 14px;
		line-height: 16px;
	}
}
@media screen and (max-width: 1023px) {
	.heading {
		gap: 25px;
	}
	.heading__title {
		padding: 50px 0;

		font-size: 18px;
		line-height: 21px;
	}
	.heading__title::after {
		width: 134px;
		left: calc(50% - 67px);
	}
	.heading__text {
		font-size: 13px;
		line-height: 15px;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ BURGER ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.burger__button {
	display: none;

	width: 32px;
	height: 32px;

	background: transparent;
	cursor: pointer;
	border: none;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5.33px;
}
.burger__button .line {
	width: 26.67px;
	height: 2.67px;
	border-radius: 4px;
	background-color: white;
	transition: all 0.3s ease-in-out;

	/* &.bottom-line {
        transition: all 0.3s ease-in-out;
    } */
}
@media screen and (max-width: 1023px) {
	.burger__button {
		display: flex;
	}
}
/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ END of UI elements ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ HEADER ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.header {
	background: black;
	height: 76px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
}
.header__wrapper {
	height: inherit;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	max-width: 87px;
}

.navigation {
	display: flex;
	height: 100%;
}
.navigation__link {
	height: 100%;
	width: 114px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
}
.navigation__link-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: white;
}
.navigation__link:hover {
	background: #ec7979;
}
.navigation__link:active {
	background: #ab4949;
}
.navigation__link:hover .navigation__link-text,
.navigation__link:active .navigation__link-text {
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}
.navigation__link span {
	flex: 1 0 auto;
	text-align: center;
}
@media screen and (max-width: 1023px) {
	.header {
		height: 56px;
	}
	.navigation {
		display: none;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ PREVIEW section ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.preview-section {
	background: url(../assets/images/preview.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	height: 1026px;
	padding-top: 280px;
	position: relative;
}
.preview-section::after {
	content: '';
	position: absolute;
	top: 0;
	z-index: 2;

	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
}
.preview-section__wrapper {
	z-index: 5;
	display: flex;
	gap: 30px;
}
.preview-section__content {
	padding-top: 20px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.preview-section__heading {
	display: flex;
	flex-direction: column;
	gap: 70px;
	position: relative;
}

.preview-section__logo {
	width: 170px;
}
.preview-section__title {
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	color: white;
}
.preview-section__title::after {
	content: '';
	display: inline-block;
	height: 1px;
	width: 170px;
	background: white;

	position: absolute;
	left: 0;
	bottom: -50px;
}
.preview-section__download {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.preview-section__description {
	max-width: 270px;

	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.preview-section__form {
	z-index: 5;
}
.form {
	padding-top: 50px;
	width: 100%;
	max-width: 470px;
	height: max-content;

	background: white;
	border-radius: 10px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 75px;
}
.form__wrapper {
	padding: 0 50px;

	display: flex;
	flex-direction: column;
	gap: 50px;
}
.form__title {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #333333;
}
.form__form {
	/* flex: 1 0 auto; */
	display: flex;
	flex-direction: column;
	gap: 30px;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.preview-section {
		height: 768px;
		padding-top: 210px;
	}
	.preview-section__content {
		gap: 70px;
	}
	.preview-section__heading {
		gap: 50px;
	}

	.preview-section__logo {
		width: 115px;
	}
	.preview-section__title {
		font-size: 36px;
		line-height: 42px;
	}
	.preview-section__title::after {
		width: 115px;
		bottom: -40px;
	}
	.preview-section__download {
		gap: 30px;
	}
	.preview-section__description {
		max-width: 185px;

		font-size: 14px;
		line-height: 16px;
	}

	.form {
		max-width: 400px;
	}
	.form__title {
		font-size: 18px;
		line-height: 25px;
	}
}
@media screen and (max-width: 1023px) {
	.preview-section {
		height: 1000px;
		padding-top: 120px;
	}
	.preview-section__wrapper {
		flex-direction: column;
		gap: 50px;
	}
	.preview-section__content {
		padding-top: 0;
		gap: 80px;
	}
	.preview-section__heading {
		gap: 0;
		position: relative;
	}

	.preview-section__logo {
		display: none;
	}
	.preview-section__title {
		text-align: center;
		font-size: 36px;
		line-height: 42px;
	}
	.preview-section__title::after {
		width: 134px;
		left: calc(50% - 67px);
		bottom: -43px;
	}
	.preview-section__description {
		max-width: 100%;

		text-align: center;
		font-size: 14px;
		line-height: 16px;
	}

	.form {
		padding-top: 40px;

		gap: 50px;
	}
	.form__wrapper {
		padding: 0 20px;

		gap: 30px;
	}
	.form__title {
		font-size: 14px;
		line-height: 19px;
	}
	.form__form {
		/* flex: 1 0 auto; */
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ SOCIAL-MEDIA section ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.social-section {
	background: #f8efef;
}
.social-section__wrapper {
	display: flex;
	justify-content: space-between;
}
.social-section__description {
	max-width: 470px;
	flex: 1 1 470px;
	padding: 15px 0;

	display: flex;
	flex-direction: column;
	gap: 30px;
}
.social-section__title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #333333;
}
.social-section__paragraph {
	color: #86878b;
}
.social-section__links {
	cursor: pointer;

	padding: 0;
	align-self: center;
	list-style-type: none;

	display: flex;
	justify-content: space-between;

	max-width: 670px;
	width: 100%;
	flex: 1 1 670px;
}
.social-section__link > img:hover {
	transition: transform 0.3s;
	transform: scale(1.1);
}
.social-section__link > img:active {
	transform: scale(1.05);
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.social-section__description {
		max-width: 400px;
	}
	.social-section__title {
		font-size: 18px;
		line-height: 25px;
	}
	.social-section__paragraph {
		font-size: 14px;
		line-height: 16px;
	}
	.social-section__links {
		max-width: 570px;
	}
	.social-section__link > img {
		width: 64px;
	}
}
@media screen and (max-width: 1023px) {
	.social-section__wrapper {
		flex-direction: column;
		align-items: center;
		gap: 32px;

		padding: 50px 0;
	}
	.social-section__description {
		flex: 1 1 auto;
		padding: 0;
		max-width: 270px;

		gap: 30px;

		text-align: center;
	}
	.social-section__title {
		font-size: 18px;
		line-height: 25px;
	}
	.social-section__paragraph {
		font-size: 14px;
		line-height: 16px;
	}
	.social-section__links {
		flex: 1 0 auto;
	}
	.social-section__link > img {
		width: 26px;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ TABS section ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.tabs-section {
	display: flex;
	flex-direction: column;
}
.tabs-section__tabs {
	display: flex;
	width: 100%;
	justify-content: flex-start;
}
.tabs-section__simple-tab {
	flex: 1 1;
	max-width: 200px;
	height: 40px;
	border-radius: 5px 5px 0 0;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #333333;

	cursor: pointer;
}
.tabs-section__simple-tab--active {
	border: 1px solid #c6cbcd;
	border-bottom: none;

	position: relative;
}
.tabs-section__simple-tab:not(.tabs-section__simple-tab--active):hover {
	background: rgba(198, 203, 205, 0.5);
}
.tabs-section__simple-tab--active:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 39px;
	/* left: 0; */

	width: calc(100%);

	border-bottom: 1px solid white;
}
.tabs-section__content {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	padding-left: 100px;
	border: 1px solid #c6cbcd;
}
.tabs-section__content img {
	align-self: center;
	height: 500px;
}
.tabs-section__left-part {
	padding-bottom: 50px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.tabs-section__description {
	gap: 30px;
}
.tabs-section__title {
	padding: 40px 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}
.tabs-section__text {
	display: flex;
	flex-direction: column;
	gap: 20px;

	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.tabs-section__simple-tab {
		max-width: 170px;
	}
	.tabs-section__content {
		padding-left: 80px;
		gap: 25px;
	}
	.tabs-section__content img {
		height: 385px;
	}
	.tabs-section__description {
		gap: 15px;
	}
	.tabs-section__title {
		padding: 30px 0;

		font-size: 24px;
		line-height: 33px;
	}
	.tabs-section__text {
		gap: 16px;

		font-size: 14px;
		line-height: 16px;
	}
}
@media screen and (max-width: 1023px) {
	.tabs-section__tabs {
		justify-content: stretch;
	}
	.tabs-section__simple-tab {
		max-width: auto;
		height: 40px;
	}
	.tabs-section__content {
		display: block;

		padding: 0 20px;
		border: 1px solid #c6cbcd;
	}
	.tabs-section__content img {
		display: none;
	}
	.tabs-section__left-part {
		padding-bottom: 30px;
		gap: 30px;
	}
	.tabs-section__title {
		padding: 40px 0;

		text-align: center;
		font-size: 18px;
		line-height: 25px;
	}
	.tabs-section__text {
		gap: 15px;

		font-size: 13px;
		line-height: 15px;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ABOUT section ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.about-section {
	display: flex;
	flex-direction: column;
	gap: 70px;

	/* border-radius: 20px;
    box-shadow: 3px 2px 40px black; */
}
.about-section__content {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.card__icon {
	width: 100vw;
	height: 100vh;
	max-width: 92px;
	max-height: 92px;
	border: 1px solid #ec7979;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.card__description {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.card__title {
	display: inline-block;
	width: 100%;
	padding: 35px 0;
	text-align: center;

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
}
.card__text {
	text-align: center;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.about-section {
		gap: 30px;
	}
	.about-section__content {
		gap: 20px;
	}
	.card {
		gap: 35px;
	}
	.card__icon {
		max-width: 80px;
		max-height: 80px;
	}
	.card__icon svg {
		transform: scale(0.8);
	}
	.card__title {
		padding: 25px 0;

		font-size: 18px;
		line-height: 25px;
	}
	.card__text {
		font-size: 14px;
		line-height: 16px;
	}
}
@media screen and (max-width: 1023px) {
	.about-section {
		gap: 50px;
	}
	.about-section__content {
		flex-direction: column;
		justify-content: stretch;
		gap: 100px;
	}
	.card {
		gap: 10px;
	}
	.card__icon {
		max-width: 80px;
		max-height: 80px;
	}
	.card__icon svg {
		transform: scale(0.8);
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ABOUT section ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.pricing-section {
	background: #f5f5f5;
}
.pricing-section__wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
	padding: 50px 0;
}
.pricing-section__content {
	display: flex;
	gap: 30px;
}
.pricing-section__content a {
	flex: 1 0 auto;
	text-decoration: none;
}
.pricing-section__item {
	display: flex;
	flex-direction: column;
	border: 2px solid #f5f5f5;

	transition: transform 0.5s ease-in-out;
	cursor: pointer;

	text-align: center;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878b;
}
.pricing-section__item div > div {
	border-bottom: 2px solid #f5f5f5;
}
.pricing-item__body div:last-child {
	border-bottom: none;
}

.pricing-section__item:hover {
	transform: translateY(-20px);
	filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing-item__head {
	background: #333333;
}
.pricing-item__name {
	padding: 10px 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #ffffff;
}
.pricing-item__price {
	padding: 28px 0;

	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}
.pricing-item__price::before {
	content: '$';
}
.pricing-item__rule {
	padding: 15px 0;
}
.pricing-item__description {
	background: white;
	text-transform: capitalize;
	padding: 15px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.pricing-section__wrapper {
		gap: 50px;
	}
	.pricing-section__content {
		gap: 20px;
	}
}
@media screen and (max-width: 1023px) {
	.pricing-section__wrapper {
		gap: 24px;
		padding: 0;
		padding-bottom: 26px;
	}
	.pricing-section__content {
		flex-direction: column;
	}
	.pricing-section__item {
		border: none;
		transition: none;
	}
	.pricing-section__item:hover {
		transform: none;
		filter: none;
	}
	.pricing-item__name {
		padding: 6px 0;

		font-size: 18px;
		line-height: 25px;
	}
	.pricing-item__price {
		padding: 25px 0;

		font-size: 24px;
		line-height: 28px;
	}
	.pricing-item__rule,
	.pricing-item__description {
		padding: 12px 0;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ REVIEWS Section ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.reviews-section {
	display: flex;
	flex-direction: column;
	gap: 80px;

	margin-bottom: 64px;
}
.reviews-section__content {
	display: flex;
	gap: 30px;
}
.reviews-section__slider {
	display: none;
}
.review {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 66px;
}
.review__comment {
	min-height: 180px;
	position: relative;
	padding: 0 20px;
	background: #e2e2e2;
	border-radius: 10px;

	display: flex;
	align-items: center;

	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;

	color: #86878b;
}
.review__comment:after {
	content: '';
	display: inline-block;

	position: absolute;
	top: 100%;
	left: 20%;

	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-top: 20px solid #e2e2e2;
}
.review__author {
	display: grid;
	grid-template-areas:
		'photo  name'
		'photo  position';
	gap: 15px 30px;
	justify-content: flex-start;
}
.review__photo {
	grid-area: photo;
}
.review__name {
	grid-area: name;

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}
.review__position {
	grid-area: position;

	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.reviews-section__slider {
	flex-direction: column;
	gap: 32px;
}
.slider__pagination {
	display: flex;
	justify-content: center;
	gap: 50px;
}
.slider__dot {
	width: 10px;
	height: 10px;
	padding: 0;
	border: 1px solid #86878b;
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
}
.slider__dot.selected {
	background: #86878b;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.reviews-section {
		gap: 32px;
		margin-bottom: 60px;
	}
	.reviews-section__content {
		gap: 20px;
	}
	.review__comment {
		padding: 0 25px;
		font-size: 14px;
		line-height: 16px;
	}
	.review__comment:after {
		border-right: 12px solid transparent;
		border-left: 12px solid transparent;
	}
	.review__author {
		display: grid;
		grid-template-areas:
			'photo  name'
			'photo  position';
		gap: 10px 20px;
	}
	.review__photo {
		height: 64px;
	}
	.review__name {
		font-size: 18px;
		line-height: 25px;
	}
	.review__position {
		font-size: 14px;
		line-height: 16px;
	}
}
@media screen and (max-width: 1023px) {
	.reviews-section__slider {
		display: flex;
	}
	.reviews-section__content {
		display: none;
	}

	.reviews-section {
		gap: 24px;
		margin-bottom: 30px;
	}
	.reviews-section__content {
		gap: 60px;
	}
	.review__comment {
		padding: 0 15px;
	}
	.review__comment:after {
		border-right: 12px solid transparent;
		border-left: 12px solid transparent;
	}
	.review__photo {
		height: 57px;
	}
	.review__name {
		margin-top: 4px;
		font-size: 14px;
		line-height: 19px;
	}
	.review__position {
		font-size: 13px;
		line-height: 15px;
	}
}

/* ! ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ FOOTER ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.footer {
	background: black;
	padding: 40px 0 30px;

	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}
.footer__social-icons {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.footer__social-icon {
	height: 50px;
	transition: transform 0.3s;
}
.footer__social-icon:hover {
	transform: scale(1.1);
}
.footer__copiright {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.footer {
		gap: 30px;
	}
	.footer__copiright {
		font-size: 14px;
		line-height: 16px;
	}
}
@media screen and (max-width: 1023px) {
	.footer {
		padding: 35px 0 45px;

		gap: 30px;
	}
	.footer__social-icons {
		gap: 20px;
	}
	.footer__social-icon {
		height: 25px;
	}
	.footer__copiright {
		font-size: 14px;
		line-height: 16px;
	}
}
