.burger__button {
	display: none;

	width: 32px;
	height: 32px;

	background: transparent;
	cursor: pointer;
	border: none;

	flex-direction: column;
	// justify-content: center;
	align-items: center;
	gap: 0.3rem;
}
.burger__button .line {
	width: 1.5rem;
	height: 0.2rem;
	background-color: white;
	transition: all 0.3s ease-in-out;

	/* &.bottom-line {
        transition: all 0.3s ease-in-out;
    } */
}

@media screen and (max-width: $mobile-max) {
	.burger__button {
		display: flex;
	}
}
