.swiper {
	--swiper-pagination-bullet-horizontal-gap: 0.7rem;
	--swiper-pagination-bullet-size: 1rem;

	@media screen and (max-width: $tablet-max) {
		--swiper-pagination-bullet-size: 0.5rem;
	}
	@media screen and (max-width: $mobile-max) {
		--swiper-pagination-bullet-size: 0.8rem;
	}
}

.swiper-pagination {
	position: static;
	padding-top: 2rem;
	@media screen and (max-width: $tablet-max) {
		padding-top: 1.5rem;
	}

	.swiper-pagination-bullet {
		border: 1px solid $pagination-bg;
		opacity: 1;
		background: transparent;

		&.swiper-pagination-bullet-active {
			background: $pagination-bg;
		}
	}
}
